body{/*   remove todas as margens e espaço alem de esticar a pagina com a cor branca 	*/
    margin-top:0px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    padding-top:0px;
    padding-left:0px;
    padding-bottom:0px;
    padding-right:0px;
    background-color:#FFF;
	display:block;
}

#tudo{/*   esticar a pagina com a cor branca 	*/
    width:100%;
    height:100%;	
    background-color:#FFF;
	display:block;
}
div.linha {/*   dividi a area em linha de qualquer altura  	*/
    width:100%;
    height:auto;
    margin-left:0px;
    margin-right:0px;
    clear:both;
	display:block;
}

div.esquerda{/*   coloca o bloco a esquerda  	*/
	float:left;
	height:auto;	
	display:block;
}

div.centro{/*   coloca o bloco no meio  	*/
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    left:auto;
    right:auto;
	display:block;
}

div.direita{/*   coloca o bloco a direita  	*/
    float:right;
	height:auto;	
	display:block;
}


